.wrapper-lower {
    background-image: url("/assets/img/lower-site-mob.png");
    background-repeat: no-repeat;

    min-width: 60rem;
    min-height: 31.8rem;

    display: flex;
    align-items: center;

    .text-lower {
        display: flex;
        flex-direction: column;

        max-width: 21rem;
        margin-left: 2rem;
        gap: 1.5rem;

        font-family: $--font-primary;
        font-weight: 600;
        color: white;

        h2 {
            font-size: 3.2rem;
            color: $--clr-font2;
        }
        p {
            font-size: 1.2rem;
            font-weight: 400;
            font-family: $--font-secondary;
        }
        a {
            font-size: 1.6rem;
            font-weight: 600;
            text-decoration: none;
            text-align: center;
            border-radius: 0.5rem;
            color: $--clr-font3;
            background-color: #51b9a3;
            width: 16rem;

            padding: 1.5rem 0;
            transition: 0.4s;
        }
        a:hover {
            background-color: hsla(0, 0%, 100%, 0.693);
            color: rgb(0, 0, 0);
        }
    }
}

@media screen and (min-width: 768px) {
    .wrapper-lower {
        background-image: url("/assets/img/lower-site-dk.png");
        background-repeat: no-repeat;
        background-position: right;

        min-width: 76.8rem;
    }
}
