//fonts
$--font-primary: "Changa", sans-serif;
$--font-secondary: "Poppins", sans-serif;
$--font-tertiary: "Inter", sans-serif;

//colors
$--clr-black: #000000;
$--clr-white: #ffffff;
$--clr-font: #513686;
$--clr-font2: #dd4e80;
$--clr-font3: #005596;
$--clr-background: #000000;
$--clr-btn: #dd4e80;
